.header {
  $header-height: 60px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;

  background-color: transparent;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    z-index: 5;

    display: block;
    width: 100vw;
    height: $header-height;

    background-color: $bg-color-base;

    @media #{$tablet} {
      display: none;
    }
  }

  @media #{$tablet} {
    position: static;

    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media #{$desktop} {
    position: absolute;
    top: 0;
    left: 50%;

    padding-top: 40px;
    padding-bottom: 40px;

    transform: translate(-50%, 0);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $header-height;

    @media #{$tablet} {
      height: auto;
    }
  }

  &__logo {
    z-index: 10;

    flex-basis: 174px;

    @media #{$desktop} {
      flex-basis: 202px;
    }
  }

  &__mmt {
    position: relative;
    z-index: 10;

    @media #{$tablet} {
      display: none;
    }
  }
}
