.modal {
  $mob-mozilla: 90px; //mobile mozilla bug with bottom navbar

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;

  width: 500px;
  max-width: 100vw;
  max-height: calc(100vh - #{$mob-mozilla});
  overflow-y: auto;

  background-color: $bg-color-base;
  border: 1px solid $border-color;
  opacity: 0;
  visibility: hidden;

  transform: translate(-50%, -50%);
  transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;

  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  background-color: rgba($color-dark-1, 0.9);
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease 0s;

  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.modal-close {
  $mc-color: #000;
  $mc-size: 40px;

  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: $mc-size;
  height: $mc-size;
  padding: 0;

  background: none;
  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;

    display: block;
    width: 100%;
    height: $mc-size * 0.1;

    background-color: $mc-color;
    border-radius: $mc-size * 0.05;

    transition: all 0.3s ease 0s;
  }

  &::before {
    top: $mc-size * 0.5 - $mc-size * 0.05;
    transform: rotate(45deg);
  }

  &::after {
    bottom: $mc-size * 0.5 - $mc-size * 0.05;
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus,
  &:active {
    &::before,
    &::after {
      background-color: rgba($mc-color, 0.6);
    }

    .mobile-menu-toggler__element {
      background-color: rgba($mc-color, 0.6);
    }
  }
}
